<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ partial "page-description.html" . }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ site.Title }}" />
{{- $img := .Params.image | default .Params.cover.image | default (index site.Params.images 0) }}
<meta property="og:image" content="{{ $img | absURL }}" />
{{- if .IsPage }}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" }}
{{ with .Section }}<meta property="article:section" content="{{ . }}" />{{ end }}
{{ with .PublishDate }}<meta property="article:published_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
{{ with .Lastmod }}<meta property="article:modified_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
{{- end }}
