{{- if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Angelo Fonseca",
  "url": {{ site.Home.Permalink }},
  "image": {{ "/img/angelo.jpg" | absURL }},
  "jobTitle": "Pre-Sales Consultant",
  "worksFor": {
    "@type": "Organization",
    "name": "Daikin Airconditioning Germany GmbH"
  },
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Mannheim",
    "addressCountry": "DE"
  },
  "sameAs": [
    {{ site.Params.github }},
    {{ site.Params.linkedin }}
  ]
}
</script>
{{- end }}
